---
# https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/command-options-general.html

# LICENSE:
# This code is released under the MIT software license, see license.txt in project root for details. No warranty of any kind is
# included, and the copyright notice must be included in redistributions.

# packages:
#     yum:
#         # install midnight commander on instances for dev-ops
#         mc: []

container_commands:
    # NOTE: platform hook deployment from windows
    100-chmod-platform-hooks:
        command: |-
            if [ -d .platform/hooks/ ]; then find .platform/hooks/ -type f -iname "*.sh" -exec chmod +x {} \;; fi;
    # NOTE: go application deployment from windows
    110-chmod-go-application:
        command: |-
            if [ -f application ]; then chmod +x application; fi;
            if [ -f bin/application ]; then chmod +x bin/application; fi;

option_settings:
    aws:elasticbeanstalk:application:
        # DEFAULT: HTTP:80/
        # ELASTIC BEANSTALK SUBSTITUTE
        Application Healthcheck URL: HTTP:80/<<HEALTHCHECK-URL>>
    aws:elasticbeanstalk:environment:process:default:
        # ELASTIC BEANSTALK SUBSTITUTE
        HealthCheckPath: <<HEALTHCHECK-URL>>
        # DEFAULT: port & protocol
        Port: 80
        Protocol: HTTP
    aws:elasticbeanstalk:application:environment:
        # DEFAULT: cloud deployment environment variables
        DEPLOYMENT: cloud
        # ELASTIC BEANSTALK SUBSTITUTE: elastic beanstalk expected default variables
        PORT: <<PORT>>
        # ELASTIC BEANSTALK SUBSTITUTE: application specific environment variables
        SERVER_PORT: <<PORT>>
        # NOTE: environment variables will be further extended
        # SEE: .platform/hooks/postdeploy/00-aws-eb-vars.sh
