option_settings:
    aws:elasticbeanstalk:application:environment:
        # DEFAULT: cloud deployment environment variables
        DEPLOYMENT: cloud
        # ELASTIC BEANSTALK SUBSTITUTE: elastic beanstalk expected default variables
        PORT: <<SERVER-PORT>>
        # ELASTIC BEANSTALK SUBSTITUTE: application generic environment variables
        SERVER_ID: <<SERVER-ID>>
        SERVER_PORT: <<SERVER-PORT>>
        SERVER_PREFIX: <<APPLICATION>>
        REQUEST_HOST: <<REQUEST-HOST>>
        # NOTE: environment variables will be further extended
        # SEE: .platform/hooks/postdeploy/00-aws-eb-vars.sh
