---
# LICENSE:
# This code is released under the MIT software license, see license.txt in project root for details. No warranty of any kind is
# included, and the copyright notice must be included in redistributions.

# Uncomment to remove default Elastic Beanstalk CloudWatch Alarm scaling triggers
# Resources:
#     AWSEBCloudwatchAlarmHigh:
#         CmpFn::Remove: {}
#     AWSEBCloudwatchAlarmLow:
#         CmpFn::Remove": {}
