---
# LICENSE:
# This code is released under the MIT software license, see license.txt in project root for details. No warranty of any kind is
# included, and the copyright notice must be included in redistributions.

# Uncomment to remove default Elastic Beanstalk CloudWatch Alarm scaling triggers
# Resources:
#     AWSEBCloudwatchAlarmHigh:
#         CmpFn::Remove: {}
#     AWSEBCloudwatchAlarmLow:
#         CmpFn::Remove: {}

# Uncomment to customize default Elastic Beanstalk CloudWatch Alarm scaling triggers
# Resources:
#     AWSEBCloudwatchAlarmHigh:
#         Type: AWS::CloudWatch::Alarm
#         Properties:
#             AlarmDescription: Custom scale-up Alarm
#             MetricName: NetworkOut
#             Statistic: Average
#             Period: 300
#             EvaluationPeriods: 1
#             ComparisonOperator: GreaterThanThreshold
#             Threshold: 6000000
#             Namespace: AWS/EC2
#             Dimensions:
#                 - Name: AutoScalingGroupName
#                   Value:
#                       Ref: AWSEBAutoScalingGroup
#             AlarmActions:
#                 - Ref: AWSEBAutoScalingScaleUpPolicy
#     AWSEBCloudwatchAlarmLow:
#         Type: AWS::CloudWatch::Alarm
#         Properties:
#             AlarmDescription: Custom scale-down Alarm
#             MetricName: NetworkOut
#             Statistic: Average
#             Period: 300
#             EvaluationPeriods: 1
#             ComparisonOperator: LessThanThreshold
#             Threshold: 2000000
#             Namespace: AWS/EC2
#             Dimensions:
#                 - Name: AutoScalingGroupName
#                   Value:
#                       Ref: AWSEBAutoScalingGroup
#             AlarmActions:
#                 - Ref: AWSEBAutoScalingScaleDownPolicy
