---
# LICENSE:
# This code is released under the MIT software license, see license.txt in project root for details. No warranty of any kind is
# included, and the copyright notice must be included in redistributions.

# uncomment to remove default Elastic Beanstalk CloudWatch Alarm scaling triggers
# Resources:
#     AWSEBCloudwatchAlarmHigh:
#         CmpFn::Remove: {}
#     AWSEBCloudwatchAlarmLow:
#         CmpFn::Remove: {}

# uncomment to customize default Elastic Beanstalk CloudWatch Alarm scaling triggers (default values present)
# option_settings:
#     # custom variables referenced in below CloudFormation template extensions
#     aws:elasticbeanstalk:customoption:
#         HighNetworkOutThreshold: 6000000
#         LowNetworkOutThreshold: 2000000
#
# Resources:
#     AWSEBCloudwatchAlarmHigh:
#         Type: AWS::CloudWatch::Alarm
#         Properties:
#             AlarmDescription: Custom scale-up Alarm
#             MetricName: NetworkOut
#             Statistic: Average
#             Period: 300
#             EvaluationPeriods: 1
#             ComparisonOperator: GreaterThanThreshold
#             Threshold:
#                 # NOTE: referencing variable from above config (this only works in Elastic Beanstalk)
#                 Fn::GetOptionSetting:
#                     OptionName: HighNetworkOutThreshold
#                     DefaultValue: 6000000
#             Namespace: AWS/EC2
#             Dimensions:
#                 - Name: AutoScalingGroupName
#                   Value:
#                       Ref: AWSEBAutoScalingGroup
#             AlarmActions:
#                 - Ref: AWSEBAutoScalingScaleUpPolicy
#     AWSEBCloudwatchAlarmLow:
#         Type: AWS::CloudWatch::Alarm
#         Properties:
#             AlarmDescription: Custom scale-down Alarm
#             MetricName: NetworkOut
#             Statistic: Average
#             Period: 300
#             EvaluationPeriods: 1
#             ComparisonOperator: LessThanThreshold
#             Threshold:
#                 # NOTE: referencing variable from above config (this only works in Elastic Beanstalk)
#                 Fn::GetOptionSetting:
#                     OptionName: LowNetworkOutThreshold
#                     DefaultValue: 2000000
#             Namespace: AWS/EC2
#             Dimensions:
#                 - Name: AutoScalingGroupName
#                   Value:
#                       Ref: AWSEBAutoScalingGroup
#             AlarmActions:
#                 - Ref: AWSEBAutoScalingScaleDownPolicy
