---
# LICENSE:
# This code is released under the MIT software license, see license.txt in project root for details. No warranty of any kind is
# included, and the copyright notice must be included in redistributions.

container_commands:
    100-custom-log-setup:
        command: |-
            mkdir -p /usr/local/log/rotated
            chown webapp:webapp /usr/local/log
            touch /usr/local/log/custom-log.log
            chown webapp:webapp /usr/local/log/custom-log.log

files:
    # logrotate configuration
    /etc/logrotate.elasticbeanstalk.hourly/logrotate.elasticbeanstalk.custom-log.conf:
        mode: "000644"
        owner: root
        group: root
        content: |-
            /usr/local/log/custom-log.log {
                su root root
                size 10M
                rotate 5
                missingok
                compress
                notifempty
                copytruncate
                dateext
                dateformat %s
                olddir /usr/local/log/rotated
            }

    # logrotate cronjob
    /etc/cron.hourly/cron.logrotate.elasticbeanstalk.custom-log.conf:
        mode: "000755"
        owner: root
        group: root
        content: |-
            #!/bin/sh
            test -x /usr/sbin/logrotate || exit 0
            /usr/sbin/logrotate /etc/logrotate.elasticbeanstalk.hourly/logrotate.elasticbeanstalk.custom-log.conf

    # extend publish logs (uploaded to S3)
    /opt/elasticbeanstalk/tasks/publishlogs.d/custom-log.conf:
        mode: "000644"
        owner: root
        group: root
        content: |-
            /usr/local/log/rotated/*

    # extend bundle logs (AWS console: all logs zip)
    /opt/elasticbeanstalk/tasks/bundlelogs.d/custom-log.conf:
        mode: "000644"
        owner: root
        group: root
        content: |-
            /usr/local/log/custom-log.log
            /usr/local/log/rotated/*

    # extend tail logs (AWS console: last 100 lines)
    /opt/elasticbeanstalk/tasks/taillogs.d/custom-log.conf:
        mode: "000644"
        owner: root
        group: root
        content: |-
            /usr/local/log/custom-log.log

# NOTE: to make the system rotate & publish custom logs when it is shutting down, extend 40-shutdown.config
