---
# LICENSE:
# This code is released under the MIT software license, see license.txt in project root for details. No warranty of any kind is
# included, and the copyright notice must be included in redistributions.

files:
    /usr/lib/systemd/system-shutdown/before-shutdown.sh:
        mode: "000755"
        owner: root
        group: root
        content: |-
            #!/usr/bin/env bash
            # script run by systemd before shutdown

            # publish not yet rotated logs to S3
            # if [ -x /usr/sbin/logrotate ]; then
            #     if [ -f /etc/logrotate.elasticbeanstalk.hourly/logrotate.elasticbeanstalk.eb-engine.conf ]; then
            #         /usr/sbin/logrotate -f /etc/logrotate.elasticbeanstalk.hourly/logrotate.elasticbeanstalk.eb-engine.conf
            #     fi
            #     if [ -f /etc/logrotate.elasticbeanstalk.hourly/logrotate.elasticbeanstalk.eb-hooks.conf ]; then
            #         /usr/sbin/logrotate -f /etc/logrotate.elasticbeanstalk.hourly/logrotate.elasticbeanstalk.eb-hooks.conf
            #     fi
            #     if [ -f /etc/logrotate.elasticbeanstalk.hourly/logrotate.elasticbeanstalk.healthd.conf ]; then
            #         /usr/sbin/logrotate -f /etc/logrotate.elasticbeanstalk.hourly/logrotate.elasticbeanstalk.healthd.conf
            #     fi
            #     if [ -f /etc/logrotate.elasticbeanstalk.hourly/logrotate.elasticbeanstalk.nginx.conf ]; then
            #         /usr/sbin/logrotate -f /etc/logrotate.elasticbeanstalk.hourly/logrotate.elasticbeanstalk.nginx.conf
            #     fi
            #     if [ -f /etc/logrotate.elasticbeanstalk.hourly/logrotate.elasticbeanstalk.web-stderr.conf ]; then
            #         /usr/sbin/logrotate -f /etc/logrotate.elasticbeanstalk.hourly/logrotate.elasticbeanstalk.web-stderr.conf
            #     fi
            #     if [ -f /etc/logrotate.elasticbeanstalk.hourly/logrotate.elasticbeanstalk.web-stdout.conf ]; then
            #         /usr/sbin/logrotate -f /etc/logrotate.elasticbeanstalk.hourly/logrotate.elasticbeanstalk.web-stdout.conf
            #     fi
            #     if [ -x /opt/elasticbeanstalk/bin/publishlogs ]; then
            #         /opt/elasticbeanstalk/bin/publishlogs -type publish
            #     fi
            # fi
