---
# LICENSE:
# This code is released under the MIT software license, see license.txt in project root for details. No warranty of any kind is
# included, and the copyright notice must be included in redistributions.

# files:
files:
    # systemd service, which only executes action, when stopped
    /etc/systemd/system/before-shutdown.service:
        mode: "000644"
        owner: root
        group: root
        content: |-
            [Unit]
            Description=Custom before-shutdown script

            [Service]
            Type=oneshot
            RemainAfterExit=true
            ExecStart=/bin/true
            ExecStop=/usr/local/bin/before-shutdown.sh

            [Install]
            WantedBy=multi-user.target

    # script run by systemd before shutdown
    /usr/local/bin/before-shutdown.sh:
        mode: "000755"
        owner: root
        group: root
        content: |-
            #!/usr/bin/env bash
            # custom script run by systemd before shutdown

            if [ -x /usr/sbin/logrotate ]; then

                # force rotate known Elastic Beanstalk logs
                if [ -f /etc/logrotate.elasticbeanstalk.hourly/logrotate.elasticbeanstalk.eb-engine.conf ]; then
                    /usr/sbin/logrotate -f /etc/logrotate.elasticbeanstalk.hourly/logrotate.elasticbeanstalk.eb-engine.conf
                fi
                if [ -f /etc/logrotate.elasticbeanstalk.hourly/logrotate.elasticbeanstalk.eb-hooks.conf ]; then
                    /usr/sbin/logrotate -f /etc/logrotate.elasticbeanstalk.hourly/logrotate.elasticbeanstalk.eb-hooks.conf
                fi
                if [ -f /etc/logrotate.elasticbeanstalk.hourly/logrotate.elasticbeanstalk.healthd.conf ]; then
                    /usr/sbin/logrotate -f /etc/logrotate.elasticbeanstalk.hourly/logrotate.elasticbeanstalk.healthd.conf
                fi
                if [ -f /etc/logrotate.elasticbeanstalk.hourly/logrotate.elasticbeanstalk.nginx.conf ]; then
                    /usr/sbin/logrotate -f /etc/logrotate.elasticbeanstalk.hourly/logrotate.elasticbeanstalk.nginx.conf
                fi
                if [ -f /etc/logrotate.elasticbeanstalk.hourly/logrotate.elasticbeanstalk.web-stderr.conf ]; then
                    /usr/sbin/logrotate -f /etc/logrotate.elasticbeanstalk.hourly/logrotate.elasticbeanstalk.web-stderr.conf
                fi
                if [ -f /etc/logrotate.elasticbeanstalk.hourly/logrotate.elasticbeanstalk.web-stdout.conf ]; then
                    /usr/sbin/logrotate -f /etc/logrotate.elasticbeanstalk.hourly/logrotate.elasticbeanstalk.web-stdout.conf
                fi

                # force rotate extended custom logs
                # if [ -f /etc/logrotate.elasticbeanstalk.hourly/logrotate.elasticbeanstalk.custom-log.conf ]; then
                #     /usr/sbin/logrotate -f /etc/logrotate.elasticbeanstalk.hourly/logrotate.elasticbeanstalk.custom-log.conf
                # fi

                # publish newly rotated logs to S3 (using configurations in /opt/elasticbeanstalk/tasks/publishlogs.d/)
                if [ -x /opt/elasticbeanstalk/bin/publishlogs ]; then
                    /opt/elasticbeanstalk/bin/publishlogs -type publish
                fi
            fi

container_commands:
    100-init-service:
        # NOTE: can't be sure, that 'systemctl enable now' is supported on Elastic Beanstalk AMI
        command: |-
            systemctl daemon-reload
            systemctl enable shutdown.service
            systemctl start shutdown.service
