---
# LICENSE:
# This code is released under the MIT software license, see license.txt in project root for details. No warranty of any kind is
# included, and the copyright notice must be included in redistributions.

# Resources:
#     NotificationTopic:
#         Type: AWS::SNS::Topic
#         Properties:
#             Subscription:
#                 - Protocol: email-json
#                   Endpoint: <<EMAIL>>
#     # NOTE: customize Elastic Beanstalk resource
#     AWSEBAutoScalingGroup:
#         Properties:
#             NotificationConfigurations:
#                 - NotificationTypes:
#                       - autoscaling:EC2_INSTANCE_LAUNCH
#                       - autoscaling:EC2_INSTANCE_LAUNCH_ERROR
#                       - autoscaling:EC2_INSTANCE_TERMINATE
#                       - autoscaling:EC2_INSTANCE_TERMINATE_ERROR
#                   TopicARN:
#                       Ref: NotificationTopic

# Resources:
#     HookRole:
#         Type: AWS::IAM::Role
#         Properties:
#             AssumeRolePolicyDocument:
#                 Version: 2012-10-17
#                 Statement:
#                     - Effect: Allow
#                       Principal:
#                           Service:
#                               - autoscaling.amazonaws.com
#                       Action:
#                           - sts:AssumeRole
#             Policies:
#                 - PolicyName: SNS
#                   PolicyDocument:
#                       Version: 2012-10-17
#                       Statement:
#                           - Effect: Allow
#                             Resource: "*"
#                             Action:
#                                 - sqs:SendMessage
#                                 - sqs:GetQueueUrl
#                                 - sns:Publish
#     HookTopic:
#         Type: AWS::SNS::Topic
#         Properties:
#             Subscription:
#                 - Protocol: email-json
#                   Endpoint: <<EMAIL>>
#     Hook:
#         Type: AWS::AutoScaling::LifecycleHook
#         Properties:
#             AutoScalingGroupName:
#                 Ref: AWSEBAutoScalingGroup
#             LifecycleTransition: autoscaling:EC2_INSTANCE_TERMINATING
#             DefaultResult: CONTINUE
#             # HeartbeatTimeout: 900
#             NotificationTargetARN:
#                 Ref: HookTopic
#             RoleARN:
#                 Fn::GetAtt: HookRole.Arn
